@media (max-width: 768px) {
    .event_details_container {
        transform: scale(0.7);
        max-height: 85vh;
    }

    .tableTitle {
    margin-bottom: -110px;
    }

    h1#mood {
        font-size: 36px;
        white-space: nowrap;
        text-shadow: 0px 1px 0px #333;
    }

    table {
        transform: scale(0.75);
        transform-origin: center;
    }

    td, th {
        padding: 14px 9px;
    }
}


.error {
    color: #899fb2e3(237, 82, 82);
    text-align: center;
    font-size: small;
}

.button3 {
    letter-spacing: .15rem;
    color: #efefef;
    cursor: pointer;
    display: inline-block;
    border-radius: 110px;
    border-color: #899fb2e3;
    font-weight:bold;
    background-color: #899fb2e3;
    font-family: "Courgette", serif;
    transition: all 0.1s ease-in-out;
    font-size: large;
    padding: 12px 24px;
    transform: scale(0.85);
    text-decoration: none;
    box-shadow: 0px 3px 4px 2px #ccc;
}

.button_container {
    gap: 35px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr)); /* Only change here */
    font-family: "Courgette", serif;
    font-weight: bold;
    color: #333;
    opacity: 0;
    animation: showButtons forwards;
    animation-duration: .8s;
    animation-delay: 1s;
}

.button3:hover {
    background-color: rgb(67 64 64);
    border-color: rgb(67 64 64);
    color: #efefef;
    transform: scale(1.0);
}

a.button3 {
    transition: all 0.1s ease-in-out;
    animation: fadeIn 3s;
    transform: scale(0.9);
    text-shadow: 1px 1px 1px rgb(67 64 64);
}

.table_container {
    overflow-x: auto;
    border-radius: 30px;
    border-color: #f9f9f9;
    scroll-padding: 100px;
    max-width: 100%;
}

.to_login {
    text-align:  center;
    color: #899fb2e3;
    justify-content: center;
    align-content: center;
    font-weight: bold;
}

.event_input {
    border-radius: 10px;
    font-size: x-large;
    width: 200px;
}

.corner_links {
    letter-spacing: .05rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    gap: 7px;
    position: absolute;
}

.form_field {
    font-family: "Courgette", serif;
    font-size: 20px;
    font-weight: bold;
    color: #899fb2e3;
    display: inline;
    text-align: left;
}

.login_email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes entry {
    0% {color: #899fb200; top:200px;}
    25% {color:#899fb233; top:100px;}
    50% {color:#899fb262(62, 78, 79); top:50px;}
    75% {color: #899fb293(84, 118, 119); top:25px;}
    100% {color:#899fb2e3; top:0px;}
}

.title_container {
     margin-bottom: -20px;
}

.title {
    font-size: 55px;
    font-family: "Courgette", serif;
    font-weight: 700;
    animation-name: entry;
    animation-duration: 1.3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    letter-spacing: 0.5rem;
    text-shadow: 0px 2px 0px #333;
}

.corner_links a {
    font-weight: bold;
    margin-left: 10px;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.1s ease-in-out;
    color: #899fb2e3;
    font-family: "Courgette", serif;
    text-shadow: 0px 1px 0px #333;
}

.corner_links a:hover {
    color: #899fb2;
    cursor: pointer;
    transform: scale(1.1);
}

.delete_button {
    height: 30px;
    width: 30px;
    color: white;
    background-color: #899fb2e3;
    background-image: url('../static/images/delete.png');
    border: none;
    border-radius: 7px;
}

.delete_button:hover {
    background-color: #899fb2e3;
    cursor: pointer;
}

.tableTitle {
    font-weight: bold;
    font-size: 36px;
    color: #899fb2e3;
    font-family: "Courgette", serif;
    text-shadow: 0px 2px 0px #333;
}

.close_pop {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 30px;
    width: 30px;
    color: white;
    background-color: #899fb2e3;
    background-image: url('../static/images/delete.png');
    border: none;
    border-radius: 12px;
    z-index: 1001;
}

.mainTable {
    color:blue
}
.close_pop:hover {
    background-color: #899fb2e3;
    cursor: pointer;
}

.admin_panel {
    text-align: center;
    color: #899fb2e3;
}

.pop_list_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: cadetblue;
}

.password_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #899fb2e3;
}

.password_container div {
    display: flex;
    position: flex-start;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    gap: 5px;
}

.password_container button {
    border: none;
    background-size: 109%;
    margin-top: 4px;
    transform: scale(0.9);
    border-radius: 99px;
    background-position: center;
    width: 29px;
    height: 18px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    background-image: url(../static/images/vecteezy_preview-show-interface-icon_6086018.png);
}

.password_container button:hover {
    transform: scale(1.0);
}

.date_time {
    display: flex;
    align-items: center;
    gap: 10px;
}

  @keyframes showButtons {
    from {
        opacity: 0;
        transform: translateY(10px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
  }

  .pop_counter {
    opacity: 0;
    color: rgb(67 64 64);
    animation: appear 0s forwards;
    animation-delay: 1.9s;
    background-image: radial-gradient(#899fb2e3, 64%, #899fb200);
    text-shadow: 2px 3px 9px rgba(0, 0, 0, 0.2);
    padding: 4px;
    border-radius: 33px;
}

@keyframes appear {
    to {
      opacity: 1;
    }
}

.event_type {
    width: 180;
    height: 30px;
    font-size: 16px;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Courgette", serif;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    margin-top: -20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#fatty.title {
    margin-bottom: -35px;
}

.ben_ashamen {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: -30px;
    gap: 7px;
    animation: fadeIn 1s ease-in 1s forwards;
    color: #899fb2e3;
}

.container_newevent {
    gap: 30px;
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
}

details summary {
    appearance: none;
    cursor: pointer;
    color: #333333c2;
    background-color: #899fb2e3;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    transition: all 0.1s ease-in-out;
}

details summary:hover {
    color: #f1f1f1;
    background-color: #899fb23d;
    transform: scale(1.1);
}


.event_details_container {
    display: flex;
    flex-direction: column;
    background-color: #b88fd1f5;
    border-radius: 33px;
    position: fixed;
    width: clamp(300px, 50vw, 2200px);
    color: #e7e3e3;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    top: 50%;
    left: 50%;
    direction: rtl;
    text-align: right;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeInQuick 0.25s ease-out forwards;

}

@keyframes fadeInQuick {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #efefef00;
    display: none;
    backdrop-filter: blur(4px);
    justify-content: center;
    align-items: center;
    z-index: 999;
    touch-action: none;
    animation: increaseBlur .3slinear forwards;
}

@keyframes increaseBlur {
  0% {
    backdrop-filter: blur(0px);
  }
  100% {
    backdrop-filter: blur(4px);
  }
}


 p.event_details {
    letter-spacing: .125rem;
    font-size: 16px;
    font-weight: 700;
    font-family: system-ui;
    color: #ffffff;
    max-width: 600px;
    text-align: right;
    direction: rtl;
    line-height: 2;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(67 64 64);
}

.event_link {
    margin-top: 2px;
}

p.event_link a {
    letter-spacing: .1rem;
    
    font-family: system-ui;
    color: #efefef;
    max-width: 600px;
    text-align: right;
    direction: rtl;
    line-height: 1.65;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    text-shadow: 1px 1px 1px rgb(67 64 64);
    background-color: #be9cff;
    padding: 6px;
    border-radius: 11px;
}

p.event_link a:hover
{
    transform: scale(1.3);
    background-color: #504d4dd4;
}

.alert_box {
    display:none;
    font-size:small;
    background-color:black;
    top: 50%;
    left: 50%;
}

.alert_msg {
    display:none;
    font-size:small;
    background-color:black;
    top: 50%;
    left: 50%;
}

body {
    text-align: center;
    font-family: "Courgette", serif;
    background-image: url('../static/images/ftuy4.jpg');
    -webkit-font-smoothing: antialiased;
    letter-spacing: .3rem;
    background-size: cover;
}

td a.insta_link {
    font-size: 16px;
    font-weight: bold;
    font-family: "Courgette", serif;
    transition: all 0.1s ease-in-out;
    white-space: nowrap;
    padding: 8px;
    color: #8b9bab;
}

.insta_link {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    font-family: "Courgette", serif;
    color: #899fb2e3;
    transition: all 0.1s ease-in-out;
}

.insta_link:hover {
    background-color: #899fb23d;
    color: #f1f1f1;
    padding: 3px;
    border-radius: 11px;
    cursor: pointer;
}

td a.insta_link:hover {
    padding: 8px;
    border-radius: 22px;
}

.event_name{

    font-size: 20px;
    white-space: nowrap;
    color: rgb(60 58 58);
    background-color: #aebac7;
    border-radius: 12px;
    text-shadow: rgba(223, 212, 212, 0.85) 0px 2px;
    padding: 3px;
}

.share_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.whatsapp, .copy_link {
    cursor: pointer;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.whatsapp img, .copy_link img {
    width: 22px;
    height: 22px;
    transition: all 0.1s ease-in-out;
}

.whatsapp img:hover, .copy_link img:hover  {
    transform: scale(1.5);
}


input::placeholder {
    color: #899fb2e3;
    font-size: 16px;
    font-family: "Courgette", serif;
}

input[type="text"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    font-family: "Courgette", serif;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    transition: all 0.3s ease-in-out;
}

input[type="email"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    font-family: "Courgette", serif;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    transition: all 0.3s ease-in-out;
    flex: 1;
    align-items: flex-start;
}

input[type="password"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    font-family: "Courgette", serif;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    transition: all 0.3s ease-in-out;
    flex: 1;
    align-items: flex-start;
}

input[type="date"], input[type="time"] {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    font-size: 16px;
    font-family: "Courgette", serif;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    transition: all 0.3s ease-in-out;
    flex: 1;
    align-items: flex-start;
}

table {
    table-layout: auto;
    border-radius: 22px;
    overflow: hidden;
    width: 80%;
    box-shadow: 0 2px 9px rgb(143 87 87 / 10%);
    border-collapse: separate;
    border-spacing: 1 3px;
    margin: 0 auto;
}

tr:nth-child(even) {
    background-color: #eaeaea;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

th {
    text-shadow: 0px 2px #dfd4d4d9;
    position: sticky;
    padding: 10px;
    text-align: center;
    border: 1px solid #899fb2e3(232, 222, 222);
    font-weight: bolder;
    background-color: #899fb299;
    color: rgb(60 58 58);
    padding: 17px 17px;
    top: 0;
    z-index: 2;
    font-size: 24px;
    letter-spacing: 0.12rem;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

td {
    text-align: center;
    letter-spacing: .1rem;
    border: none;
    padding: 30px 30px;
    font-weight: bold;
    color:#504d4dd4;
    white-space: nowrap;
    transition: all 0.1s ease-in-out;
}


td:not(.edge_cell):not(:nth-child(2)):not(:last-child):hover {
  background-color: #e0dada99;
  transform: translateY(2px);
}

textarea {
    margin-top: 10px;
    max-width: 600px;
    padding: 5px;
    font-size: 16px;
    font-family: "Courgette", serif;
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    color: #899fb2e3;
    font-family: "Courgette", serif;
    text-shadow: 0px 2px 0px #333
}

h4 {
    color: #899fb2e3;
    font-family: "Courgette", serif;
}

html {
    scroll-behavior: smooth;
}

.edge_cell
{
    position: sticky;
    font-size: 20px;
    color: rgb(60 58 58);
    font-weight: bold;
    background-color: #899fb23d;
    padding: 12px;
    text-shadow: 0px 2px #dfd4d4d9;
}
