.error {
    color: #899fb2e3(237, 82, 82);
    text-align: center;
    font-size: small;
}

.button3 {
    letter-spacing: .2rem;
    color: #efefef;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    border-radius: 110px;
    border-color: white;
    border-width: thin;
    background: cadetblue;
    font-family: "Courgette", serif;
    transition: all 0.1s ease-in-out;
    font-size: large;
    padding: 12px 24px;
}

.button3:hover {
    box-shadow: 0 4px 15px #6fb1b3c2(249, 251, 255, 0.5);
    transform: scale(1.1);
}

.table_container {
    overflow-x: auto;
    margin-left: -200px;
    border-radius: 30px;
    border-color: #f9f9f9;
    scroll-padding: 100px;
}

.pop_l {
    animation: fadeIn 4s;
    text-decoration: None;
    color: #899fb2e3;
    font-size: 25px;
    letter-spacing: 0.15rem;
    transition: all 0.2s ease-in-out;
}

.pop_l:hover {
    color: #96a6b5;
    cursor: pointer;
    font-size: 28px;
}

.to_login {
    text-align: center;
    color: #899fb2e3;
    justify-content: center;
    align-content: center;
    font-weight: bold;
}

.event_input {
    border-radius: 10px;
    font-size: x-large;
    width: 200px;
}

.corner_links {
    letter-spacing: .05rem;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    gap: 7px;
    position: absolute;
}

.form_field {
    font-family: "Courgette", serif; 
    font-size: 20px;
    font-weight: bold;
    color: #899fb2e3;
    display: inline;
    text-align: left;
}

.login_email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes entry {
    0% {color: #899fb200; top:200px;}
    25% {color:#899fb233; top:100px;}
    50% {color:#899fb262(62, 78, 79); top:50px;}
    75% {color: #899fb293(84, 118, 119); top:25px;}
    100% {color:#899fb2e3; top:0px;}
}

.title_container {
     margin-bottom: -20px;
}

.title {
    font-style: italic;
    font-size: 55px;
    font-family: "Courgette", serif;
    font-weight: 700;
    animation-name: entry;
    animation-duration: 1.3s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    letter-spacing: 0.5rem;
}

.corner_links a {
    font-family: "Courgette", serif; 
    font-weight: bold;
    margin-left: 10px;
    color: #899fb2e3;
    text-decoration: none;
    font-size: medium;
    transition: all 0.2s ease-in-out;
}

.corner_links a:hover {
    color: #899fb2e3;
    cursor: pointer;
    font-size: large;
}

.single_button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.delete_button {
    height: 30px;
    width: 30px;
    color: white;
    background-color: #899fb2e3;
    background-image: url('../static/images/delete.png');
    border: none;
    border-radius: 7px;
}

.delete_button:hover {
    background-color: #899fb2e3;
    cursor: pointer;
}

.tableTitle {
    color: #899fb2e3;
    font-weight: bold;
    font-size: 30px;
}

.close_pop {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 30px;
    width: 30px;
    color: white;
    background-color: #899fb2e3;
    background-image: url('../static/images/delete.png');
    border: none;
    border-radius: 12px;
    z-index: 1001;
}

.mainTable {
    color:blue
}
.close_pop:hover {
    background-color: #899fb2e3;
    cursor: pointer;
}

.admin_panel {
    text-align: center;
    color: #899fb2e3;
}

.pop_list_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: cadetblue;
}

.password_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #899fb2e3;
}

.password_container div {
    display: flex;
    position: flex-start;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    gap: 5px;
}

.password_container button {
    border: none;
    background-size: 193%;
    margin-top: 4px;
    border-radius: 15px;
    background-position: center;
    width: 29px;
    height: 18px;
    cursor: pointer;
    background-image: url(../static/images/vecteezy_preview-show-interface-icon_6086018.jpg);
}

.date_time {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button_container {
    gap: 35px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: "Courgette", serif; 
    font-weight: bold;
    color: #333;
}

.event_type {
    width: 180;
    height: 30px;
    font-size: 16px;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Courgette", serif; 
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    margin-top: -20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#fatty.title {
    margin-bottom: -35px;
}

.ben_ashamen {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: -30px;
    gap: 7px;
    animation: fadeIn 1s ease-in 1s forwards;
}

.pop_counter {
    color: #96a6b5;
}

.container_newevent {
    gap: 30px;
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
}

details summary {
    appearance: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px 16px;
    color: #899fb2e3;
    font-size: 18px;
}

.event_details_container {
    display: flex;
    flex-direction: column;
    background-color: #899fb2e3;
    border-radius: 6px;
    position: fixed;
    width: auto;
    height: auto;
    max-width: 75vw;
    max-height: 75vh;
    color: #e7e3e3;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    top: 50%;
    left: 50%;
    direction: rtl;
    text-align: right;
    transform: translate(-50%, -50%);
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(159 159 159 / 50%);
    display: flex;
    backdrop-filter: blur(3px);
    justify-content: center;
    align-items: center;
    z-index: 999;
    touch-action: none;
}

 p.event_details {
    font-size: medium;
    font-family: system-ui;
    color: white;
    max-width: 600px;
    text-align: right;
    direction: rtl;
    line-height: 1.65;
}

body {
    text-align: center;
    font-family: "Courgette", serif; 
    background-image: radial-gradient(#ffffff 19%, #efefef);
    -webkit-font-smoothing: antialiased;
    letter-spacing: .3rem;
}
div {
    font-size: x-large;
    color: #899fb2e3;
}

ol {
    font-size: larger;
}

td a.insta_link {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    font-family: "Courgette", serif;
    transition: all 0.2s ease-in-out;
    background-color: #899fb23d;
    padding: 8px;
    border-radius: 22px;
}

td a.insta_link:hover {
    color: #96a6b5;
    cursor: pointer;
    font-size: 16px;
    transform: scale(1.025);
}

.insta_link {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    font-family: "Courgette", serif; 
    color: #899fb2e3;
    transition: all 0.2s ease-in-out;
}

.insta_link:hover {
    color: #96a6b5;
    cursor: pointer;
    font-size: 16px;
    transform: scale(1.025);
}

input::placeholder {
    color: #899fb2e3;
    font-size: 16px;
    font-family: "Courgette", serif; 
}

input[type="text"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    font-family: "Courgette", serif; 
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    transition: all 0.3s ease-in-out;
}

input[type="email"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    font-family: "Courgette", serif; 
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    transition: all 0.3s ease-in-out;
    flex: 1;
    align-items: flex-start;
}

input[type="password"] {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 16px;
    font-family: "Courgette", serif; 
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    transition: all 0.3s ease-in-out;
    flex: 1;
    align-items: flex-start;
}

input[type="date"], input[type="time"] {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    font-size: 16px;
    font-family: "Courgette", serif; 
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    transition: all 0.3s ease-in-out;
    flex: 1;
    align-items: flex-start;
}

table {
    table-layout: auto;
    border-radius: 22px;
    overflow: hidden;
    width: 80%;
    margin-left: 165px;
    margin-right: 80px;
    box-shadow: 0 2px 9px rgb(143 87 87 / 10%);
    border-collapse: separate;
    border-spacing: 3;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

th {
    position: sticky;
    padding: 10px;
    text-align: center;
    border: 1px solid #899fb2e3(232, 222, 222);
    font-weight: bolder;
    background-color: #899fb23d;
    color: #899fb2e3;
    padding: 17px 17px;
    top: 0;
    z-index: 2;
    font-size: larger;
    letter-spacing: 0.12rem;
}

td {
    text-align: center;
    letter-spacing: .1rem;
    border: none;
    padding: 30px 30px;
    font-weight: bold;
    color:#504d4dd4;
}

textarea {
    margin-top: 10px;
    max-width: 600px;
    padding: 5px;
    font-size: 16px;
    font-family: "Courgette", serif; 
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    color: #899fb2e3;
    letter-spacing: normal;
    font-family: "Courgette", serif;
}

tbody tr:nth-child(odd) 
{
    background-color: #f4f4f4;
}

html {
    scroll-behavior: smooth;
}

.edge_cell
{
    position: sticky;
    font-size: large;
    font-weight: bold;
    color: #899fb2e3;
    background-color: #899fb23d;
    padding: 12px;
}
  
  @media screen and (max-width: 768px) {
    table {
        transform: scale(0.9);
        transform-origin: center;
    }
}