<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "corner_links">
        <a href="/"> Homepage </a>
    </div>
    <br> <br>
    {% with message = get_flashed_messages() %}
    {% if message %}
        <h2 class ="error"> {{ message }} </h2> 
    {% endif %}
    {% endwith %}
    <h2 class = "admin_panel">
        {{ first_name }}'s Admin Panel
        </h2>
    {% with events = events %}
    {% if events %}
    <div class="table_container">
    <table>
        <tr>
            <th></th>
            <th>Event</th>
            <th>By</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for event in events %}
            <tr>
                <td> {{ display_date(event.s_date, event.e_date) }} </td>
                <td> {{ event.event_name }} </td>
                {% if event.chef2_name not in ['None',''] %}
                <td> {{ event.chef1_name  + " / " + event.chef2_name}} </td>
                {% else %}
                <td> {{ event.chef1_name }} </td>
                {% endif %}
                <td>
                    <form action="{{ url_for('main.edit_event_by_id', id=event.id) }}" method="POST">
                        <button type="submit" class="delete_button"> ? </button>
                    </form>      
                </td>
                <td> 
                    <form action="{{ url_for('main.delete_event_by_id', id=event.id) }}" method="POST">
                        <button type="submit" class="delete_button"> X </button>
                    </form>      
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
    {% endif %}
    {% endwith %}
    <br> <br> <br> 
    <a href='/event'> 
        <button class="button3"> Add </button>
    </a>
</body>

