<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preload" href="../static/images/ftuy4.jpg" as="image" crossorigin>
</head>
<body>
    <br> <br> <br>
    <div class="home_div">
    <div class="title_container">
    <h1 class="title" id="fatty">fatty</h1>
    <h1 class="title">pop ups</h1>
    </div>
    <div class="ben_ashamen">
    <h5> by </h5>
    <a href="https://www.instagram.com/ben_ashamen/" id="main_insta_link" target="_blank" style="font-size: 14px; font-family: 'Courgette', serif;
    transition: all 0.1s ease-in-out; padding: 4px; text-decoration: none; border-radius: 22px;"> @ben_ashamen </a>
   </div>
    <br><br>
    <a href="/pop">
        <button class="button3"> explore </button>
     </a>
</div>
</body>
</html>


