<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="corner_links">
        <a href="/admin_login" id="admin_header"> Admin </a> 
    </div>
    <div class="home_div">
    <br> <br> <br> <br> 
    <h1 class="title">
        fatty pop-ups
    </h1>
    <div class="ben_ashamen"> 
    <h5> by </h5> 
    <a href="https://www.instagram.com/ben_ashamen/" class="insta_link" target="_blank"> @ben_ashamen </a> 
    </div>  
    <br><br><br>
    <div style="text-align: center;">
        <a class= "pop_l" href="/pop_list"> explore </a>
    </div>
</div>
</body>
</html>