<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="corner_links">
            <a href="/pop"> Pop </a>
        </div>
        <br> <br>
        {% with other_list = other_list %}
        {% if not other_list %}
        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 
        <h4 class="pop_counter"> No upcoming pop ups </h4>
        {% else %}
        <h2 class="tableTitle"> All Other Pop ups </h2>
        <div class="table_container">
            <table>
                <tr>
                    <th></th>
                    <th>What's Poppin'?</th>
                    <th>At</th>
                    <th>By</th>
                    <th>Details</th>
                </tr>
                {% for event in other_list %}
                    <tr>
                        <td class="edge_cell"> {{display_date(event.s_date, event.e_date)}} </td>
                        <td> {{ event.event_name }} </td>
                        <td>
                            <a href="https://www.google.com/maps/search/{{ event.location | urlencode }}" 
                            target="_blank" class="insta_link"> {{display_location(event.host_name, event.location)}}
                            </a>
                            {% if event.host_insta %}
                            <br> <br> 
                            <a href="https://www.instagram.com/{{ event.host_insta[1:] }}/" class="insta_link"> 
                                {{ event.host_insta }} </a>
                            {% endif %}
                        </td>
                        <td>
                            <a href="https://www.instagram.com/{{ event.chef1_insta[1:] }}/"
                            target="_blank" class="insta_link"> {{ event.chef1_name }}
                            </a>
                            {% if event.chef2_name %}
                            <br> <br>
                            <a href="https://www.instagram.com/{{ event.chef2_insta[1:] }}/" 
                            target="_blank" class="insta_link"> {{ event.chef2_name }}
                            </a>
                            {% endif %}
                        </td>
                        <td class="edge_cell"> 
                            <details> 
                                <summary data-description = "{{event.description}}" ></summary>
                            </details>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <div class="wrapper">
            <div class="event_details_container">
                <p class="event_details"></p>   
            </div>
            </div>
        </div>
        {% endif %}
        {% endwith %}
        <br> <br> <br>
        </body>
    <script src="{{ url_for('static', filename='scripts/pop.js') }}"></script>
</html>
