<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="preload" href="../static/images/ftuy4.jpg" as="image" crossorigin>
    </head>
    <body>
       <br>
        <div class="corner_links">
            <a href="/pop"> Back to homepage </a>
        </div>
        <br>
        {% with other_list = other_list %}
        {% if not other_list %}
        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        <h4> No upcoming pop ups </h4>
        {% else %}
        <div class="table_container">
            <table>
                <tr>
                    <th colspan="4"> <h2 class="tableTitle"> </h2> </th>
                </tr>
                {% for event in other_list %}
                    <tr>
                        <td class="edge_cell_right"> </td>
                        <td class="edge_cell_left"> <p class="dates" data-start="{{event.s_date}}" data-end="{{event.e_date}}" data-name="{{event.event_name}}" data-location="{{event.location}}">
                            {{ display_date(event.s_date, event.e_date) }} </p> </td>
                        <td>
                            <details>
                                <summary data-description="{{event.description}}" data-reservation="{{event.res_link}}"
                                data-location ="{{event.location}}" data-chef1="{{event.chef1_insta[1:]}}"
                                data-chef2="{{event.chef2_insta[1:] if event.chef2_insta else ''}}"
                                 data-host="{{event.host_insta[1:] if event.host_insta else ''}}">
                                <p class="event_name"> {{ event.event_name }} </p>
                                </summary>
                            </details>
                        </td>
                        <td class="edge_cell_right">
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class="edge_cell_right"></td>
                    <td class="edge_cell_right"></td>
                    <td class="edge_cell_right"></td>
                </tr>
            </table>
        </div>
        {% endif %}
            <div class="wrapper">
                <div class="event_details_container">
                    <div class="event_by"></div>
                    <p class="event_details"></p>
                    <div class="pop_links">
                    <div class="share_container">
                        <a class="whatsapp" target="_blank">
                            <img src="{{ url_for('static', filename='images/whatsapp.png') }}">
                        </a>
                        <a class="copy_link">
                            <img src="{{ url_for('static', filename='images/link.png') }}" >
                        </a>
                        <a class="google_maps">
                         <img src="{{ url_for('static', filename='images/location.png') }}">
                        </a>
                    </div>
                    <p class="event_link"></p>
                  </div>
            </div>
            </div>
        {% endwith %}
        <br> <br> <br>
        </body>
    <script src="{{ url_for('static', filename='scripts/position.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/pop.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/calendar.js') }}"></script>
</html>