<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preload" href="../static/images/ftuy4.jpg" as="image" crossorigin>
</head>
<body>
    {% with event_count = event_count %}
    {% endwith %}
    <br> <br> <br> <br> <br> <br>
    <div class="pop_list_container">
        <h1 id="mood"><h1>
        <div class="button_container">
                <a href="/ramen">
                    <button class="button3"> Ramen </button>
                </a>
                <a href="/other">
                    <button class="button3"> Other </button>
                </a>
        </div>
        {% if event_count > 3 %}
        <h5 class="pop_counter"> {{ event_count }} upcoming events to check out! </h5>
        {% endif %}
    </div>
    <br> <br>
    <script src="{{ url_for('static', filename='scripts/pop2.js') }}"> </script>
</body>