<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="corner_links">
            <a href="/"> Homepage </a>
        </div>
        {% with ramen_list = ramen_list %}
        {% if not ramen_list %}
        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        <div class="no_ramen_message">
            <h4 class="pop_counter"> No upcoming ramen pop-ups </h4>
        </div>
        {% else %}
        <h1 class="table_title"> Ramen Pop-ups </h1>
        <div class="table_container">
            <table>
                <thead>
                    <tr>
                        <th>Host</th>
                        <th>Event</th>
                        <th>Location</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Price</th>
                        <th>Contact</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in ramen_list %}
                    <tr>
                        <td>{{ event.host }}</td>
                        <td>{{ event.event_type }}</td>
                        <td>
                            <a href="https://www.google.com/maps/search/{{ event.address | urlencode }}" 
                               target="_blank" class="insta_link">{{ event.address }}</a>
                        </td>
                        <td>{{ event.date.strftime('%d.%m') }}</td>
                        <td>{{ event.time.strftime('%H:%M') }}</td>
                        <td>{{ event.price_range }}</td>
                        <td>
                            {% with contact = event.contact %}
                            {% if contact[:2] == "05" %}
                                {{ contact[:3] + "-" + contact[3:] }}
                            {% elif ".com" not in contact %}
                                <a href="https://www.instagram.com/{{ event.contact }}" 
                                   target="_blank" class="insta_link">{{ event.contact }}</a>
                            {% else %}
                                {{ contact }}
                            {% endif %}
                            {% endwith %}
                        </td>
                        <td>
                            <details class="event_details">
                                <summary class="pop_event_details" data-description="{{ event.description }}">
                                </summary>
                            </details>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
        {% endwith %}
    </body>
</html>
